html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  --grey: #62605b;
  --darkgrey: #2d2b2b;
  --white: #ffffff;
  --purple-main: #652ed3;
  --purple-secondary: #925cfd;
  --purple-white: #ad84ff;
  --yellow-accent: #CDF614;
  --yellow-second: #e0f8a7;
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: signature;
  src: url(fonts/signature-font/DancingScript-VariableFont_wght.ttf);
}

@font-face {
  font-family: righteous;
  src: url(fonts/Righteous/Righteous-Regular.ttf);
}

@font-face {
  font-family: barlow;
  src: url(fonts/Barlow/Barlow-Bold.ttf);
}

@font-face {
  font-family: orbitron;
  src: url(fonts/Orbitron/Orbitron-VariableFont_wght.ttf)
}

/******************************* NAVBAR ***************************************/
.navbar {
  width: 100vw;
  height: 10vh;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--purple-main);
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.nav-item {
  padding: 1em;
  font-size: 1.5em;
}

.nav-link {
  font-family: righteous;
  text-decoration: none;
  color: var(--yellow-accent);
  transition: .4s;
  padding: .3em;
  border-radius: 10px;
  color: var(--yellow-accent);
  transition: .4s ease-out;
}

.nav-link:hover {
  color: var(--purple-main);
  background-color: var(--yellow-accent);
  transition: .4s ease-in;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 30px;
  height: 3px;
  margin: 6px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: var(--yellow-accent);
}

.name {
  display: flex;
  flex-direction: column;
  font-size: 3.2em;
  margin: 1em;
}

.first-name {
  display: flex;
  justify-content: space-between;
  font-family: righteous;
  color: var(--white);
}

.jakob {
  transition: .6s ease-in;
}

.first-name span {
  padding-left: 12px;
  padding-right: 12px;
}

.jakob:hover {
  transform: scale(1.6);
  color: var(--yellow-accent);
  transition: .6s ease-out;
  cursor: pointer;
}

.last-name {
  font-family: orbitron;
  letter-spacing: 3px;
  color: var(--yellow-accent);
}




@media only screen and (max-width: 500px) {
  #container {
    display: flex;
    flex-direction: column;
  }

  .jakob-logo {
    margin-left: 10px;
  }

  .circle {
    position: absolute;
    top: 7px;
    left: 3px;
    border: 2px solid var(--yellow-accent);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-left: 20px
  }

  /* .ring {
    position: absolute;
    top: 7px;
    left: 3px;
    border: 2px solid var(--yellow-accent);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-left: 20px;
    transform: rotate(-45deg) skew(40deg);
  } */

  .js {
    font-size: 1.5em;
    color: var(--yellow-accent);
    font-family: orbitron;
    margin-left: 20px;
    text-align: center;
  }

  .name {
    display: none;
  }

  #home {
    /* background-color: var(--purple-secondary); */
    height: 90vh;
    display: flex;
    padding-top: 10vh;
  }

}

@media all and (max-width: 1201px) {

  .navbar.active {
    position: fixed;
    width: 100vw;
  }

  .nav-menu {
    position: fixed;
    left: -200%;
    top: 10vh;
    gap: 0;
    flex-direction: column;
    background-color: var(--purple-main);
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }

  .nav-item {
    margin: 16px 0;
    font-size: 1.5em;
  }

  .nav-menu.active {
    left: 0;
  }

  .hamburger {
    display: block;
    margin-right: 20px;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(9px) rotate(45deg)
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-9px) rotate(-45deg)
  }
}




/******************************************************************************/